//RATE COUNTER
.rateCounter{
  display: flex;
  flex-direction: row;
  padding: 6px 11px 6px 9px;
  background-color: white;
  width: 94px;
  height: 30px;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
}
.rateCounter button{
  background-color: #fff;
  border: none;
  padding: 0;
  margin: 0;
}
.rateCounter button:hover{
  cursor: pointer;
}
.rateCounter p{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
//FUNCBTNS
.funcBtns{
  display: flex;
  flex-direction: row;
  padding: 6px 14px 6px 16px;
  background-color: white;
  width: 84px;
  height: 30px;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
}
.funcBtns button{
  background-color: #fff;
  border: none;
  padding: 0;
  margin: 0;
}
.funcBtns button:hover{
  cursor: pointer;
}
//THEME TAG
.themeTag{
  display: flex;
  box-sizing: border-box;
  height: 26px;
  padding: 5px 14px;
  background: #896DC8;
  border-radius: 10px;
  align-items:center;
  text-align:center;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color:white;
  margin-right: 3%;
  margin-top: 2%;
}
//BASIC LINKER
.basicLink{
  display:flex;
  flex-direction: row;
  align-items: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-width: 25%;
}
.basicLink p{
  margin-right: 10px;
}
//TITLE INPUT
.titleInput{
  width: 100%;
  margin-bottom: 20px;
}
.titleInput p{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
  margin-bottom: 10px   ;
}
.BasicInput{
  background: white;
  border-radius: 5px;
}